.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}

.wrapper:hover {
  color: var(--gray-11);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(8rem / 16);
}

.iconWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.textAlign {
  margin-top: calc(3rem / 16);
}
