.buttonsContainer {
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.saveChangesButton {
  margin-left: auto;
}

.deleteItemButton {
  width: 40px;
  height: 40px;
  padding: 0;
  color: var(--gray-11);
}

.deleteItemButton:hover {
  color: var(--accent-10);
}
