.buttonsContainer {
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--gray-7);
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-12);
}

.saveChangesButton {
  margin-left: auto;
  flex-shrink: 0;
  height: 40px;
}

.deleteItemButton {
  width: 40px;
  height: 40px;
  padding: 0;
  color: var(--gray-11);
}

.deleteItemButton:hover {
  color: var(--accent-10);
}
