.wrapper {
  position: absolute;
  top: 0;
  height: 46px;
  left: 50%;
  transform: translate(-50%, 20px);
  display: flex;
  flex-direction: column;
  z-index: 1000;

  @media (max-width: 600px) {
    width: calc(100% - 20px);
    inset: 0;
    transform: translate(10px, 40px);
  }
}

.toast {
  background-color: white !important;
  border-radius: 0.5rem !important;

  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  height: 46px !important;

  --text-color: var(--gray-12) !important;
  --background-color: var(--gray-3) !important;

  color: var(--text-color) !important;
  background-color: var(--background-color) !important;
}

.content {
  flex-direction: row !important;
  width: 100% !important;
  padding: calc(16rem / 16);
}

.description {
  border-bottom: 1px dashed var(--gray-6) !important;
  flex-grow: 1 !important;
  align-items: center !important;
  margin-bottom: 5px !important;
}

.success {
  --text-color: hsla(141, 33%, 39%, 1) !important;
  --background-color: hsla(141, 33%, 39%, 0.1) !important;
}

.success .content::after {
  content: var(--content);
  text-wrap: nowrap;
}

.error {
  --text-color: hsla(0, 78%, 58%, 1) !important;
  --background-color: hsla(0, 78%, 58%, 0.1) !important;
}

.error .content::after {
  content: var(--content);
  text-wrap: nowrap;
}

.warning {
  --text-color: var(--gray-8) !important;
  --background-color: var(--warning-background-color) !important;
}

.warning .content::after {
  content: var(--content);
  text-wrap: nowrap;
}

.button {
  position: absolute;
  top: 0;
  left: -500px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
