.wrapper {
}

.addNewOrderButton {
  background-color: var(--accent-9);
  color: var(--gray-1);
  border: 1px solid var(--gray-7);
  padding: calc(8rem / 16) calc(16rem / 16);
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}
