.orderDetailsContainer {
  display: flex;
  flex-direction: column;
}

.tabsList {
  border-bottom: 1px solid var(--gray-7);
}

.orderDetailsItemsContainer {
  display: flex;
  gap: calc(16rem / 16);
}
