.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
}

.videoContainer {
  width: 100%;
  background-color: black;
  border-radius: 1rem;
  aspect-ratio: 16 / 9;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
