.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;
  width: 100%;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  font-size: calc(14rem / 16);
}

.buttonsContainer {
  height: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}
