.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: inherit;
  height: 100%;
  max-height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: calc(12rem / 16) calc(16rem / 16);
  font-size: 14px;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--gray-7);
  color: var(--gray-12);
}

.wrapper.colored {
  background-color: var(--accent-9);
  color: var(--gray-1);
  border: none;
}

.wrapper:focus {
  outline: none;
}

.wrapper:focus-visible {
  box-shadow: 0 0 0 2px #000;
}

.wrapper.colored:hover {
  background-color: var(--accent-10);
}

.wrapper:hover {
  background-color: var(--gray-7);
}
