.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: inherit;
  height: 100%;
  max-height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: calc(12rem / 16) calc(16rem / 16);
  font-size: 14px;
}

.wrapper:focus {
  outline: none;
}

.wrapper:focus-visible {
  box-shadow: 0 0 0 2px #000;
}

.wrapper:hover {
  color: var(--gray-11);
}

.wrapper.scaleHover:hover * {
  scale: 1.05;
}

.wrapper.colorHover:hover * {
  color: var(--accent-9);
}

.wrapper.active * {
  color: var(--accent-9);
}
