.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: inherit;
  width: 100%;
  height: 100%;
  max-height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.wrapper:focus {
  outline: none;
}

.wrapper:focus-visible {
  box-shadow: 0 0 0 2px #000;
}

.wrapper:hover {
  color: #344054;
}

.wrapper.scaleHover:hover * {
  scale: 1.05;
}

.wrapper.colorHover:hover * {
  color: var(--active-color);
}

.wrapper.active * {
  color: var(--active-color);
}
