.popoverContent {
  border-radius: 4px;
  padding: 10px;
  width: 260px;
  min-height: 40px;
  background-color: var(--gray-1);
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--gray-12);
}

.optionButton {
  padding: 5px 10px;
}

.optionButton:hover {
  background-color: var(--gray-3);
}

.noOptionsFound {
  font-size: 14px;
  color: var(--gray-10);
  padding: 5px 10px;
}
