.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(6rem / 16) calc(12rem / 16);

  border-radius: calc(8rem / 16);
  background: transparent;
  border: none;
  font-size: calc(14rem / 16);
  font-weight: 500;
  color: #344054;

  &:hover {
    background: #f2f4f7;
  }

  &[data-selected='true'] {
    background: #fde6ea;
    color: #d53f67;
  }

  &[disabled] {
    opacity: 0.5;
  }
}
