.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  height: 46px;
  width: 450px;
  justify-content: end;
}

.saveButton {
  background-color: var(--accent-9);
  color: var(--gray-1);
  border-radius: 0.5rem;
}

.cancelButton {
  background-color: var(--gray-10);
  color: var(--white);
  border-radius: 0.5rem;
}
