.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  height: 46px;
  width: 450px;
  justify-content: end;
}
