.wrapper {
  display: flex;
  gap: 10px;
  height: 33px;
  margin-block-end: 26px;
}

.input {
  color: var(--gray-12);
  max-width: 300px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--gray-12);
  font-size: 18px;
  font-weight: 600;
  max-width: 300px;
  padding: 3px;
}

.input:focus-visible {
  outline: none;
  box-shadow: none;
  border: 1px solid var(--gray-11);
}

.saveButton {
  background-color: var(--accent-9);
  color: var(--gray-1);
  border-radius: 0.5rem;
  width: 100px;
}
