.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  flex-shrink: 0;
  overflow: auto;
  max-height: 550px;
  padding-inline-end: 10px;

  @media (width >= 1024px) {
    width: calc(3 / 5 * 100%);
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  padding: calc(20rem / 16);
  padding-block-end: calc(30rem / 16);

  border: 1px solid var(--gray-7);
  border-radius: 1rem;

  @media (width >= 1280px) {
    flex-direction: row;
  }

  &[data-dirty='true'] {
    border: 1px solid var(--accent-9);
  }

  &:hover {
    background-color: var(--gray-3);
  }

  &[data-active='true'] {
    background-color: var(--accent-5);
  }
}

.clipRef {
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  font-size: calc(14rem / 16);
  flex: 1;
}

.estimatedSeconds {
  position: absolute;
  bottom: 5px;
  right: 30px;
  font-size: calc(12rem / 16);
  color: var(--gray-12);
  font-size: calc(14rem / 16);
}
