.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  flex-shrink: 0;

  @media (width >= 1024px) {
    width: calc(3 / 5 * 100%);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;

  @media (width >= 1280px) {
    flex-direction: row;
  }
}

.clipRef {
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  font-size: calc(14rem / 16);
}
