.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  flex-shrink: 0;

  @media (width >= 1024px) {
    width: calc(3 / 5 * 100%);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;

  @media (width >= 1280px) {
    flex-direction: row;
  }
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  font-size: calc(14rem / 16);
}

.input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: calc(15rem / 16);
  color: var(--gray-11);
  box-shadow: 0 0 0 1px var(--gray-7);
  height: 44px;

  border: 1px solid var(--gray-7);
  padding: 0.625rem 1rem;
  background-color: var(--gray-1);
}

.input:focus-visible {
  outline: 2px solid var(--accent-8);
  box-shadow: 0 0 0 2px var(--accent-8);
}
