.wrapper {
  height: 71px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr auto;
  align-items: center;
  border-top: 1px solid var(--gray-7);
  padding: 12px 24px;
  color: var(--gray-12);
}

.jobNumber {
  color: var(--accent-9);
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  justify-content: flex-start;
}

.orderStatus {
  font-weight: 500;
  font-size: 12px;
  padding: calc(2rem / 16) calc(8rem / 16);
  border-radius: 1000px;
  display: inline-block;

  &[data-status='pending'] {
    background: #fdb022;
  }
  &[data-status='success'] {
    background: #12b76a;
  }
  &[data-status='cancel'] {
    background: #f04438;
  }
}

.salesPerson {
  display: flex;
  flex-direction: column;
}

.surName {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-12);
}

.firstName {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray-10);
}

.companyName,
.numberOfClips {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-10);
}
