.wrapper {
  height: 71px;
  width: 100%;

  display: grid;
  align-items: center;
  border-top: 1px solid var(--gray-7);
  padding: calc(12rem / 16) calc(24rem / 16);
  color: var(--gray-12);

  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;
}

.jobNumber {
  color: var(--accent-9);
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
  justify-content: flex-start;
  cursor: pointer;
}

.orderStatus {
  font-weight: 500;
  font-size: 12px;
  padding: calc(2rem / 16) calc(8rem / 16);
  border-radius: 1000px;
  display: inline-block;
  --color: #fdb022;
  color: var(--color);

  background: color-mix(in oklab, var(--color) 15%, transparent);

  &[data-status='pending'] {
    --color: #fdb022;
  }
  &[data-status='success'] {
    --color: #12b76a;
  }
  &[data-status='cancel'] {
    --color: #f04438;
  }
}

.salesPerson {
  display: flex;
  flex-direction: column;
}

.surName {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-12);
}

.firstName {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray-10);
}

.companyName,
.numberOfClips {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-10);
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
