html {
  --color-background: #f9fafb;
  --color-background-secondary: #fff;

  --accent-1: #fffcfc;
  --accent-2: #fff7f8;
  --accent-3: #feeaec;
  --accent-4: #ffdde1;
  --accent-5: #fccfd5;
  --accent-6: #f6c0c8;
  --accent-7: #ecadb7;
  --accent-8: #e294a1;
  --accent-9: #d53f67;
  --accent-10: #c62e5b;
  --accent-11: #c52e5a;
  --accent-12: #621a2d;

  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #e4e7ec;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;
}

html.dark {
  --accent-1: #171f2f;
  --accent-2: #22181a;
  --accent-3: #3c181f;
  --accent-4: #4f1624;
  --accent-5: #5d1c2c;
  --accent-6: #6e2838;
  --accent-7: #873648;
  --accent-8: #b0475e;
  --accent-9: #d53f67;
  --accent-10: #b34961;
  --accent-11: #ff8ca4;
  --accent-12: #ffd3d9;

  --gray-1: #131921;
  --gray-2: #191f28;
  --gray-3: #1f2834;
  --gray-4: #222e3e;
  --gray-5: #263447;
  --gray-6: #2b3c53;
  --gray-7: #354963;
  --gray-8: #4e627e;
  --gray-9: #5a708c;
  --gray-10: #677d9a;
  --gray-11: #a0b5d3;
  --gray-12: #e8eff7;

  --color-background: #101828;
  --color-background-secondary: #101828;
}
