.fieldset {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.label {
  font-size: 15px;
  color: var(--violet-11);
  text-align: left;
}

.input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 44px;

  width: 100%;
  border: 1px solid #d1d5db;
  background-color: transparent;
  background-image: none;
  padding: 0.625rem 1rem;
  color: #1f2937;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input:focus-visible {
  outline: 2px solid var(--gray-7);
  box-shadow: 0 0 0 2px var(--gray-7);
}

.bioFieldset {
  grid-column: span 2;
}
