.fieldset {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.label {
  font-size: calc(15rem / 16);
  color: var(--gray-12);
  text-align: left;
}

.input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: calc(15rem / 16);
  color: var(--gray-11);
  box-shadow: 0 0 0 1px var(--gray-7);
  height: 44px;

  border: 1px solid var(--gray-7);
  padding: 0.625rem 1rem;
  background-color: var(--gray-1);
}

.input:focus-visible {
  outline: 2px solid var(--gray-8);
  box-shadow: 0 0 0 2px var(--gray-8);
}

.bioFieldset {
  grid-column: span 2;
}
