.wrapper {
  display: flex;
  align-items: center;
  gap: calc(8rem / 16);
}

.icon {
  flex-shrink: 0;
  width: calc(32rem / 16);
}

.text {
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #4b5563;
  letter-spacing: 0.1em;
}
