.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.label {
  display: block;
  font-size: calc(14rem / 16);
  font-weight: 500;
  color: var(--gray-12);
}

.trigger {
  display: flex;
  gap: calc(16rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 0.5rem;
  padding: calc(24rem / 16);
  width: 100%;
  background-color: var(--accent-1);
  color: var(--gray-12);

  height: calc(44rem / 16);
  padding: calc(10rem / 16) calc(16rem / 16);
  font-size: calc(14rem / 16);
  appearance: none;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px 0 var(--gray-7);
}

.trigger:focus-visible {
  outline: 2px solid var(--accent-8);
  box-shadow: 0 0 0 2px var(--accent-8);
}

.content {
  background: var(--accent-1);
  color: var(--gray-12);
  border: 1px solid var(--gray-6);
  border-radius: 0.5rem;
  max-height: 300px;
  overflow: auto;
  width: var(--radix-select-trigger-width);
}

.viewport {
  padding: 4px;
}

.item {
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.item[data-highlighted] {
  background-color: var(--gray-3);
}
