.accountItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;
}

.accountItemTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-12);
}

.accountDescription {
  display: flex;
  gap: calc(12rem / 16);
  color: var(--gray-10);
  font-size: calc(14rem / 16);
}
