.accountItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;
}

.accountItemTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1d2939;
}

.accountDescription {
  display: flex;
  gap: calc(12rem / 16);
  color: #667085;
  font-size: 14px;
}
