.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.sidebar.open {
  width: 290px;
}

.sidebar {
  width: 90px;
  background-color: #ffffff;

  border-right: 1px solid var(var(--gray-7));

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(16rem / 16);
  padding: calc(12rem / 16) calc(20rem / 16);

  transition: width 0.3s ease-in-out;
}

.sidebarTab {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebarButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(6rem / 16) calc(12rem / 16);
  gap: calc(12rem / 16);
  height: 40px;
  width: 100%;

  border-radius: calc(8rem / 16);
  background: transparent;
  border: none;
  font-size: calc(14rem / 16);
  font-weight: 500;
  color: #344054;
  text-decoration: none;

  &:hover {
    background: #f2f4f7;
  }

  &[data-active='true'] {
    background: #fde6ea;
    color: #d53f67;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.sidebarButton span {
  opacity: 0;
}

.sidebarButton.open span {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.sidebarButton svg {
  flex-shrink: 0;
}

.mainContent {
  flex: 1;
  height: 100%;
  padding: calc(24rem / 16);
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
}
