.profileContainer {
  display: flex;
  flex-direction: column;
  gap: calc(24rem / 16);
}

.profileTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-12);
  margin-block-end: 4px;
}

.itemContainer {
  display: grid;
  grid-template-columns: 150px 150px;

  column-gap: calc(150rem / 16);
  row-gap: calc(25rem / 16);
}
