.input {
  width: 300px;
  height: 44px;
  padding: 0 16px;
  border: 1px solid var(--gray-7);
  border-radius: 0.5rem;
  font-size: calc(14rem / 16);
  color: var(--gray-10);
  margin-left: auto;
  background-color: var(--gray-1);
}
