.accountItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid #e4e7ec;
  border-radius: 1rem;
}

.accountItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountItemTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1d2939;
}

.editButton {
  width: 84px;
  height: 40px;
  border: 1px solid #e4e7ec;
  border-radius: 100px;
  margin-left: auto;
}

.form {
  display: grid;
  grid-template-columns: 150px 150px;

  column-gap: calc(150rem / 16);
  row-gap: calc(25rem / 16);
}

.field {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
}

.label {
  font-size: 0.75rem; /* text-xs */
  line-height: 1.5; /* leading-normal */
  color: rgb(107 114 128);
}

.text {
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: rgb(31 41 55);
  white-space: nowrap;
}
