.accountItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid var(--gray-7);
  border-radius: 1rem;
}

.accountItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountItemTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--gray-12);
}
