.accountItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
  padding: calc(24rem / 16);
  border: 1px solid #e4e7ec;
  border-radius: 1rem;
}

.accountItemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accountItemTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1d2939;
}

.editButton {
  width: 84px;
  height: 40px;
  border: 1px solid #e4e7ec;
  border-radius: 100px;
  margin-left: auto;
}
