.wrapper {
  grid-column: 1 / -1;
  position: sticky;
  width: 100%;
  height: 65px;
  top: 0;
  display: flex;
  gap: calc(16rem / 16);
  border-bottom: 1px solid var(--gray-6);
  background-color: var(--color-background-secondary);
  padding: calc(12rem / 16) calc(24rem / 16);
}

.userInfo {
  font-size: calc(12rem / 16);
  color: var(--gray-10);
  margin-left: auto;
  align-self: center;
}
