.propetyItem {
  display: flex;
  flex-direction: column;
  gap: calc(8rem / 16);
}

.propetyItemKey {
  font-size: calc(12rem / 16);
  color: var(--gray-10);
}

.propetyItemValue {
  font-size: calc(14rem / 16);
  font-weight: 500;
  color: var(--gray-12);
  white-space: nowrap;
}
