.ordersList {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.ordersListHeader {
  height: 42px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--gray-7);
  border-color: #f2f4f7;
  color: #667085;
  font-weight: 500;
  font-size: 12px;
  padding: 12px 24px;
}
