.ordersList {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(6, 1fr) auto;
  gap: calc(24rem / 16);
}

.ordersListHeader {
  width: 100%;
  border-bottom: 1px solid var(--gray-7);
  color: var(--gray-11);
  font-weight: 500;
  font-size: calc(12rem / 16);
  padding: calc(12rem / 16) calc(24rem / 16);
  margin-bottom: calc(-24rem / 16);
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 6;
}
.pagination {
}
