.wrapper {
  width: calc(40rem / 16);
  height: calc(40rem / 16);

  border: 1px solid var(--gray-7);
  border-radius: 0.5rem;
  color: var(--gray-11);
}

.wrapper:hover {
  color: var(--gray-11);
  border-color: var(--gray-11);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
