.wrapper {
  margin-left: auto;
  font-size: 14px;
  color: var(--gray-10);
  display: flex;
  align-items: center;
  gap: 6px;
}

.crumb {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--gray-12);
}

.arrowIcon {
  flex-shrink: 0;
  width: 16px;
  transform: rotate(-90deg);
}
