.triggerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-10);
  padding: 0;

  &[data-state='open'] {
    transform: rotate(180deg);
  }
}

.content {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: dropdown 0.15s ease-out forwards;
  background-color: var(--gray-2);
  border-radius: 1rem;
  border: 1px solid var(--gray-7);

  min-width: 260px;
  margin-top: 17px;

  padding: calc(12rem / 16);
  display: flex;
  gap: calc(4rem / 16);
  flex-direction: column;
}

.dropdownMenuItem {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray-11);
  border-radius: 0.5rem;
  padding: calc(8rem / 16) calc(12rem / 16);
}

.dropdownMenuItem:hover {
  background-color: var(--gray-3);
}

.dropdownMenuItemText {
  font-size: calc(14rem / 16);
  color: var(--gray-12);
}

.userInfo {
  padding-block-end: calc(12rem / 16);
  font-size: calc(12rem / 16);
  color: var(--gray-10);
}

.separator {
  height: 1px;
  background-color: var(--gray-7);
  margin: 8px 0;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
