.wrapper {
  margin-left: auto;
}

.triggerButton {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: dropdown 0.15s ease-out forwards;
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;

  min-width: 260px;
  margin-top: 17px;

  padding: calc(12rem / 16);
  display: flex;
  gap: calc(4rem / 16);
  flex-direction: column;
}

.dropdownMenuItem {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #667085;
  border-radius: 8px;
  padding: calc(8rem / 16) calc(12rem / 16);
}

.dropdownMenuItem:hover {
  background-color: #f2f4f7;
}

.dropdownMenuItemText {
  font-size: calc(14rem / 16);
  color: rgb(52, 64, 84);
}

.userInfo {
  padding-block-end: calc(12rem / 16);
  font-size: calc(12rem / 16);
  color: #667085;
}

.separator {
  height: 1px;
  background-color: #e4e7ec;
  margin: 8px 0;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
