.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(24rem / 16);
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--gray-12);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: calc(16rem / 16);
  flex: 1;
  padding: calc(24rem / 16);

  border-radius: 1rem;
  border: 1px solid var(--gray-7);
  background-color: var(--accent-1);
}
